<form #form="ngForm">
  <div class="form-group">
    <label for="name">
      Name
    </label>
    <input type="text" class="form-control" id="name" name="name" ngModel>
  </div>
  <ul class="list-group">
    <ng-template ngFor [ngForOf]="round.matches" let-match let-i="index">
      <li class="list-group-item list-group-item-info">Match {{i + 1}}</li>
      <li class="list-group-item" [ngClass]="{disabled: match.teams[0].eliminated}">
        <a style="cursor: pointer" class="row">
          <span class="col-xs-9 col-sm-10 col-md-10 col-lg-11" [ngClass]="{'col-xs-12 col-sm-12 col-md-12': !match.inProgress}">{{match.teams[0].name}}</span>
          <span class="col-xs-3 col-sm-2 col-md-2 col-lg-1 text-right" *ngIf="match.inProgress">
            <button class="btn btn-danger" (click)="eliminate(match, match.teams[0])">Eliminate</button>
          </span>
        </a>
      </li>
      <li class="list-group-item" [ngClass]="{disabled: match.teams[1].eliminated}">
        <a style="cursor: pointer" class="row">
          <span class="col-xs-9 col-sm-10 col-md-10 col-lg-11" [ngClass]="{'col-xs-12 col-sm-12 col-md-12': !match.inProgress}">{{match.teams[1].name}}</span>
          <span class="col-xs-3 col-sm-2 col-md-2 col-lg-1 text-right" *ngIf="match.inProgress">
            <button class="btn btn-danger" (click)="eliminate(match, match.teams[1])">Eliminate</button>
          </span>
        </a>
      </li>
    </ng-template>
  </ul>
</form>
