<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
      <form #form="ngForm" (ngSubmit)="signIn(form)">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" ngModel email required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" ngModel required>
        </div>
        <button type="submit" class="btn btn-block btn-success" [disabled]="form.invalid">Sign in</button>
      </form>
    </div>
  </div>
</div>
