<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th class="text-right">
          <button type="button" class="btn btn-default" (click)="new()">New</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!!editingRound && !editingRound.id">
        <td colspan="3">
          <nibo-round-edit [round]="editingRound" (saved)="save(0, $event)"></nibo-round-edit>
        </td>
      </tr>
      <ng-template ngFor [ngForOf]="rounds" let-round let-i="index">
        <tr style="cursor: pointer">
          <td>
            {{i + 1}}
          </td>
          <td>{{round.name}}</td>
          <td class="text-right">
            <button type="button" class="btn btn-default" (click)="edit(round)">Edit</button>
          </td>
        </tr>
        <tr *ngIf="round.id === editingRound?.id">
          <td colspan="3">
            <nibo-round-edit [round]="editingRound" (saved)="save(i, $event)"></nibo-round-edit>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
