<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Eliminated</th>
        <th class="text-right">
          <button type="button" class="btn btn-default" (click)="new()">New</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!!editingTeam && !editingTeam.id">
        <td colspan="4">
          <nibo-team-edit [team]="editingTeam" (saved)="save(0, $event)"></nibo-team-edit>
        </td>
      </tr>
      <ng-template ngFor [ngForOf]="teams" let-team let-i="index">
        <tr style="cursor: pointer">
          <td>
            {{i + 1}}
          </td>
          <td>{{team.name}}</td>
          <td>
            {{team.eliminated | boolean}}
          </td>
          <td class="text-right">
            <button type="button" class="btn btn-default" (click)="edit(team)">Edit</button>
          </td>
        </tr>
        <tr *ngIf="team.id === editingTeam?.id">
          <td colspan="4">
            <nibo-team-edit [team]="editingTeam" (saved)="save(i, $event)"></nibo-team-edit>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
