<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>
          <button type="button" class="btn btn-default">New</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png" alt="" class="profile-image">
        </td>
        <td>Tiago de Carvalho Resende</td>
        <td>tiagor87@gmail.com</td>
        <td>
          <button type="button" class="btn btn-default">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
