<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th class="text-right">
          <button type="button" class="btn btn-default" (click)="new()">New</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!!editingUser && !editingUser.id">
        <td colspan="4">
          <nibo-user-edit [user]="editingUser" (saved)="save(0, $event)"></nibo-user-edit>
        </td>
      </tr>
      <ng-template ngFor [ngForOf]="users" let-user let-i="index">
        <tr style="cursor: pointer">
          <td>
            {{i + 1}}
          </td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td class="text-right">
            <button type="button" class="btn btn-default" (click)="edit(user)">Edit</button>
          </td>
        </tr>
        <tr *ngIf="user.id === editingUser?.id">
          <td colspan="4">
            <nibo-user-edit [user]="editingUser" (saved)="save(i, $event)"></nibo-user-edit>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
