<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Summoners Rift</a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/rounds">Rounds</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!auth; else admin" routerLinkActive="active"><a routerLink="/signIn">Sign in</a></li>
        <ng-template #admin>
          <li routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
          <li><a style="cursor: pointer" (click)="signOut()">Sign out</a></li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
