<div class="container-fluid container">
  <h3>Developers challenge for Tiago Resende</h3>
  <p>This is a really simple app created with Angular and DotNetCore 2.0.</p>
  <p>Some features can be improved.</p>
  <br>
  <h3>Information to access</h3>
  <p>You will be able to access using dev@nibo.com.br with password 123456.</p>
  <p>The data is not storage in any database, because I tried to do a simple and non-dependenced application.</p>
  <br>
  <h3>Backend approuch</h3>
  <p>I used DomainDrivenDesign in backend, but as simple, as I could do it, just trying to use a few things that I know.</p>
  <p>I implemented a Memory Provider with static field, just for test purpose.</p>
  <p>I wasn't be able to implement Unit Tests and improve the solution because I had a full weekend with my daughter. We went
    to Bienal, because I had promised her of see the Felipe Neto on sunday.</p>
  <br>
  <h3>Frontend approuch</h3>
  <p>I created a really simple Angular App, but using everything I know, directive, routes, service, guardian, component and
    pipe.
  </p>
</div>
